{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('react1') }}
{% endblock %}

{% block body %}
    <div id="react1"></div>
    <div id="react2"></div>
    <div id="react3"></div>
    <div id="react4"></div>
    {{ encore_entry_script_tags('react1') }}
    {{ encore_entry_script_tags('react2') }}
    {{ encore_entry_script_tags('react3') }}
    {{ encore_entry_script_tags('react4') }}
{% endblock %}
